.navbar {
    display: flex;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.06);
    padding: 16px 70px;
    text-align: right;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
}

.navbar-logo-section {
    flex: 1;
    display: flex;
}

.navbar-mid-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-action-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.navbar-link {
    margin: 0 20px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.navbar-link:hover {
    color: #E30613;
}

.ant-dropdown-trigger {
    display: flex;
    align-items: center;
}

.br-navbar-tracking-menu-container {
    padding: 16px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.navbar-input-title {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.ant-input-group-wrapper {
    display: flex;
}

.ant-input-wrapper.ant-input-group {
    display: flex;
    align-items: center;
}

.ant-input-search-button {
    border-radius: 0 5px 5px 0 !important;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E30613 !important;
    border: none !important;
    color: white !important;
}

.ant-input-search-button:hover {
    background-color: #c70512 !important;
}