.shipment-details-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    direction: rtl;
    width: 85%;
    margin: auto;
    margin-top: 100px;
}

.shipment-details-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: right;
}

@media (min-width: 768px) {
    .shipment-details-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.shipment-detail-item {
    padding: 8px;
}

.font-semibold {
    font-weight: 600;
}

.font-gray {
    color: #959595;
}
.status-text {
    font-weight: 600;
    color: #d9534f;
}
